body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  text-align: center;
  padding: 20px;
}

header {
  background-color: #ffcc00;
  color: #fff;
  padding: 20px 0;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

h2 {
  font-size: 1.2em;
  font-weight: normal;
  color: #333;
}

#cookieInformation {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#cookieInformation p {
  font-size: 1.2em;
  margin: 10px 0;
}

.cookieButtonContainer {
  margin: 20px 0;
}

#cookieButton {
  width: 200px;
  cursor: pointer;
  transition: transform 0.2s;
}

#cookieButton:hover {
  transform: scale(1.1);
}

.shop {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.shop p {
  font-weight: bold;
  font-size: 1.2em;
}

.shop-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.shop-item-container p {
  margin: 0;
  font-size: 1em;
}

.shop-item-container button {
  background-color: #ffcc00;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.shop-item-container button:hover {
  background-color: #e6b800;
}
