body {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  background-color: #f0e68c;
  text-align: center;
  color: #3e2723;
  margin: 0;
  padding: 0;
}

header h1 {
  font-size: 3em;
  margin: 0.5em 0;
  color: #d2691e;
}

header h2 {
  font-size: 1.5em;
  margin: 0.2em 0;
  color: #8b4513;
}

header h3 {
  font-size: 1.2em;
  margin: 0.2em 0;
  color: #8b4513;
}

#cookieInformation {
  background-color: #fff8dc;
  padding: 10px;
  border-radius: 10px;
  margin: 20px auto;
  width: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cookieButtonContainer {
  margin: 20px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#cookieButton {
  width: 200px;
  height: 200px;
  cursor: pointer;
  animation: spin 5s linear infinite;
}

#cookieButton:hover {
  transform: scale(1.1);
}

.shop {
  background-color: #fff8dc;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.shop-item-container {
  display: flex;
  justify-content: space-between;
  background-color: #deb887;
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.shop-item-container p {
  margin: 0;
}

button {
  background-color: #d2691e;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

button:hover {
  background-color: #0b0b0b;
}
